

body{
margin:0px;
padding:0px;

background-image: url("https://i.imgur.com/WyMU0AH.jpg");
background-repeat:no-repeat fixed;
background-position:center;
background-size:cover;
ã€€background-attachment:scroll;
}
</style>
